<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="5.2.0" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.2.1.750" targetFramework="net452" />
  <package id="SharpVectors" version="1.0" targetFramework="net452" />
</packages>